
/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

/* Banner */

	#banner {
		padding: 1em 0;
	}

		#banner h2 {
			font-size: 2.5em;
		}

/* Footer */

	#footer {
		padding: 1em 0;
	}


/* Wrapper */

	.wrapper {
	    padding: 2em 0 4em 0;
	}